html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.navLogo {
  width: 100px;
  margin-left: 35%;
}

.navLogo img {
  width: 100px;
  height: auto;
}

.navLi {
  list-style: none;
}

.navLi a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  align-items: center;
  background-color: rgb(158, 158, 245);
  height: 5rem;
}

.navUl {
  display: flex;
  position: fixed;
  top: 7vh;
  width: 100%;
  height: 93vh;
  right: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(158, 158, 245);
  transition: 0.5s ease-in;
  transform: translateX(100%);
  z-index: 1;
}

.navUl li {
  list-style: none;
}

.navUl div {
  width: 294px;
  height: 67px;
  outline: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navActive {
  transform: translateX(0%);
}

.navToggler {
  cursor: pointer;
  display: block;
  margin-left: 5px;
}

.navToggler div {
  width: 2.3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #2c2b2b;
}

.centrar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.entrada_cont {
  display: flex;
  border-radius: 15px;
}

.entrada_cont button {
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #bebebe;
}

.entrada_cont i {
  font-size: 25px;
  color: #494848;
}

.entrada_cont input {
  width: 38rem;
  height: 5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: none;
  background-color: #bebebe;
  outline: 0;
}

.contenedor-carousel {
  margin: 20px;
}

.slider-container {
  overflow-x: hidden;
}

.cont-item {
  /*  background-color: rgb(193, 192, 192);

      width: 100px;
      height: 70px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      pointer-events: none; */
  height: 70px;
  min-width: 132px;
  overflow-x: hidden;
  background-color: #c1c0c0;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cont-item p {
  text-align: center;
  pointer-events: none;
  align-items: center;
}

.slider {
  display: flex;
  cursor: grab;
}

/* 
     NO CAROUSEL

  */
.contenedor-NoCarousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  gap: 34px 0px;
  grid-template-areas: ". . ." ". . ." ". . .";
  justify-items: center;
}

.contenedor-NoCarousel .item {
  border-style: groove;
  width: 26rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  background-color: #c1c0c0;
}

.contenedor-NoCarousel p {
  font-size: 30px;
}

/* 

                                CAROUSEL

*/
@media (min-width: 1059px) {
  .slider-container {
    display: none;
  }
}
@media (max-width: 1059px) {
  .contenedor-NoCarousel {
    display: none;
  }
}
/* 
                          ARTICULOS
*/
@media (min-width: 600px) {
  .imagenArticulo div {
    width: 500px !important;
  }
}
@media (min-width: 800px) {
  .cuerpo2 .row .imagenArticulo {
    flex: 1 1 16rem;
  }
  .cuerpo2 .row .detalle1 {
    flex: 1 1 23rem;
  }
  .imagenArticulo div {
    width: 330px !important;
  }
  .imagenArticulo {
    display: flex;
    align-items: center;
  }
  .detalle1 {
    padding-top: 0px !important;
  }
  .cuerpo2 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .cuerpo1 .detalleArticulo p {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (min-width: 1000px) {
  .imagenArticulo div {
    width: 400px !important;
  }
  .cuerpo2 .row .detalle1 {
    flex: 1 1 11rem;
  }
}
/*  .cuerpo1 .row  .tituloArticulo{
       flex: 1 1 29rem;
  } 

  .cuerpo1 .row  .detalleArticulo{
      flex: 1 1 29rem;
  } */
/* 
                      CUERPO 1
*/
* {
  font-size: 1.7rem;
}

html {
  overflow-x: hidden;
}

.cuerpo1 .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* .cuerpo1 .row  .tituloArticulo{
     flex: 1 1 29rem;
} 

.cuerpo1 .row  .detalleArticulo{
    flex: 1 1 29rem;
} */
.tituloArticulo {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  background: #AAA9A9;
}

.tituloArticulo h2 {
  color: #FAFAFA;
  font-size: 2rem;
}

.iconos {
  background: #AAA9A9;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.iconos img {
  width: 30px;
}

.iconos div {
  width: 30px;
  padding-right: 42px;
}

.iconos i {
  color: #FAFAFA;
  width: 20px;
  padding-left: 20px;
}

.detalleArticulo {
  padding-top: 20px;
}

/* .detalleArticulo p {
    padding-left: 20px;
    padding-right: 20px; 
} */
/* 
                      CUERPO 2
*/
.cuerpo2 {
  margin-top: 30px;
}

.imagenArticulo {
  display: flex;
  justify-content: space-evenly;
}

.imagenArticulo div {
  width: 300px;
}

.imagenArticulo img {
  width: 100%;
}

.detalle1 {
  padding-top: 30px;
}

.detalle1 h4 {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: justify;
}

.detalle1 p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.navbar {
  background-color: var(--color-white);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Menu Mobile */
.link, .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu--burger, .nav__search {
  font-size: 2rem;
  background-color: none;
}

.nav-menu {
  background-color: var(--color-white);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--font-weight-semiBold);
  color: var(--color-black);
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 2px;
}

.nav-text_CrearArticulo {
  background-color: var(--color-acento2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  margin: 0 auto 16px auto;
  gap: 8px;
  width: 85%;
  height: 40px;
  border-radius: 20px;
}

.nav-text_CrearArticulo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--font-weight-semiBold);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-text_CrearArticulo a svg {
  margin-left: 5rem;
  font-size: 2rem;
}

.nav-text a:hover {
  background-color: var(--color-acento);
}

.nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.navbar-toggle {
  background-color: var(--color-white);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  margin: 1rem;
}

span {
  margin-left: 16px;
}

/* Logo */
.nav__logo {
  width: 100px;
  margin: 1.5rem;
}

/* Contenedor elementos desktop */
.nav_container--rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

/* Boton Crear Articulo */
.btnCrearArticulo {
  background-color: var(--color-acento2);
  color: var(--color-black);
  font-family: "Urbanist";
  font-size: 1rem;
  width: 126px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
  gap: 16px;
  border-radius: 3px;
}

/* Boton Sobre Nosotros */
.btnSobreNosotros {
  color: var(--color-black);
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  width: 107px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
  gap: 16px;
}

/*# sourceMappingURL=style.css.map */
