/* 

                                CAROUSEL

*/


@media (min-width: 1059px) {
    .slider-container{
        display: none;
    }
}

@media (max-width: 1059px) {
    .contenedor-NoCarousel{
        display: none;
    }
}

/* 
                          ARTICULOS
*/


@media (min-width:600px){
   .imagenArticulo div{
      width: 500px !important;
   }

   .imagenCuerpo3 div{
    width: 273px !important;
}
}

@media (min-width:800px){
    .cuerpo2 .row  .imagenArticulo{
        flex: 1 1 16rem;
   } 
   
   .cuerpo2 .row  .detalle1{
       flex: 1 1 23rem;
   } 

   .imagenArticulo div{
    width: 330px !important;
   }

   .imagenArticulo{
    display: flex;
    align-items: center;
    align-items: flex-start;
   }

   .cuerpo1 .detalleArticulo p{
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: initial !important;
    padding-right: initial !important;
   }


   .detalle1 {
    padding-top: 0px  !important;
   }

   .cuerpo2{
    margin-left: 5rem;
    margin-right: 5rem;
   }

   .imagenCuerpo3 {
   display: none;
}

.cuerpo3 .detalleCuerpo3 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.parrafoMobile2{
    display: none;
}

.cuerpo3 .detalleCuerpo3 .parrafoMobile {
    display: none;
}

.cuerpo3 .detalleCuerpo3 .parrafoDesktop{
    display: block !important;
}
}

@media (min-width: 1000px) {
    .imagenArticulo div{
        width: 400px !important;
       }

       .imagenArticulo{
        justify-content: left !important;
       } 

       .cuerpo2 .row  .detalle1{
        flex: 1 1 11rem;
    }   
    
    .cuerpo1 .detalleArticulo p {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .cuerpo2 {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .cuerpo3 {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .cuerpo3 .row .detalleCuerpo3{
        flex: none !important;
        margin-left: 0px;
    }
}

 /*  .cuerpo1 .row  .tituloArticulo{
        flex: 1 1 29rem;
   } 
   
   .cuerpo1 .row  .detalleArticulo{
       flex: 1 1 29rem;
   } */